:root {
 --primery-text-color: #757575;
  --second-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-background-colors: #ffffff;
  --second-background-colors: #f5f4fa;
  --footer-color: #2f303a;
  --logo-color: #212121;
    }
    html {
      box-sizing: border-box;
    }
    *, *::before, *::after {
      box-sizing: inherit;
    }
 p, h1, h2, h3, h4, h5, h6 {
   margin: 0;
 }
 ul, ol {
   margin: 0;
   padding-left: 0;
 }
body {
  margin: 0 auto;
    color: var(--primery-text-color);
    font-family: "Roboto",sans-serif;
    font-size: 14px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link {
    text-decoration: none;
   }
.list {
    list-style: none;

}

                                  /* логотип */
   .header {
     border-bottom: 1px solid #ececec;
   }
.logo { 
                /* fless */
padding-top: 24px;
padding-bottom: 25px;
margin-right: 93px;


  display: block;
  font-family: "Raleway",
  sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color:var(--accent-color);
}
.header-logo{
    color:var(--logo-color)
}
                             /* навигация по сайту */
.main-nav {
  display: flex;
  align-items: center;
}
 .header-nav  {
   display: flex;
 }
.adress-nav {
margin-left: auto;
  display: flex;
}
  .adress-nav .adress-iteam+.adress-iteam {
    margin-left: 50px;
  }
  .site-nav { 
          display: flex;
          padding-top: 32px;
          padding-bottom: 32px;
}
.site-nav .nav-iteam + .nav-iteam  {
      margin-left: 50px;
    
}

    
.link-nav {
  
padding-top: 32px;
padding-bottom: 32px;
font-weight: 500;
font-size: 14px;
line-height: 1.33;
letter-spacing: 0.02em;
color: var(--title-text-color);

}
.link-nav:hover, .link-nav:focus {
color:var(--accent-color);
 }
 
         /* почта и телефон шапка */
 .mail-nav {
display: flex;
align-items: center;
padding-top: 32px;
padding-bottom: 32px;
   display: flex;
font-weight: 500;
font-size: 14px;
line-height: 1.33;
letter-spacing: 0.02em;
color: var(--primery-text-color);

}
.icon-contact {
  margin-right: 10px;
}
.mail-nav:hover, .mail-nav:focus {
    color:var(--accent-color);
} 
.tel-nav {
  padding-top: 32px;
  padding-bottom: 32px;
display: flex;
align-items: center;
font-weight: 500;
font-size: 14px;
line-height: 1.33;
letter-spacing: 0.02em;
color: var(--primery-text-color);
}
.icon-contact {
  fill: currentColor;
}

.tel-nav:hover, .tel-nav:focus {
color:var(--accent-color);
}
                                
                  /* main */
 .section {
  padding-top: 94px;
  padding-bottom: 94px;
         }
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
   background-image:linear-gradient(
    to bottom,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
   ),
  url("../images/fon.jpg");
  background-color: var(--footer-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main-bg {
  padding-top: 200px;
  padding-bottom: 200px;
text-align: center;
 }
 .main-title { 
   margin-bottom: 30px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--second-text-color);
}
.main-btn {
  display: inline-block;
  border: transparent;
  text-align: center;
border-radius: 4px;
padding: 10px 32px;
min-width: 200px;
font-weight: 700;
font-size: 16px;
cursor: pointer;
line-height: 1.87;
letter-spacing: 0.06em;
color: var(--second-text-color);
background: var(--accent-color);
}


                        /*  примери работ  */
/* .list-item::before {
  content: "";
  display: block;
  height: 120px;
background-repeat: no-repeat;
background-position: center;
background-color: #F5F4FA;
}
                      /* иконки примери работ */
/* .icon-tat::before {
  background-image: url("../images/tat.svg");
}
.icon-cat::before {
  background-image: url("../images/cat.svg");
}
.icon-not::before {
  background-image: url("../images/not.svg");
}
.icon-avst::before {
  background-image: url("../images/astronavt.svg");
} */
.examples-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}
.main-list {
display: flex;
flex-wrap: wrap;

font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primery-text-color); 
}
.main-list .iteam {
  max-width: 270px;
}
.main-list .iteam + .iteam {
  margin-left: 30px;
}
.main-subtitle {
  margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-color);
}
                            /*  чим ми займаемся */
.what-work {
  padding-top: 0px;
  text-align: center;
}
.main-heading {
  text-align: center;
  margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
.main-img {
  display: flex;
 
}
.main-img .iteam + .iteam {
  margin-left: 30px;
}
                              /* наша команда */
.team-main {
  background: #F5F4FA;
  text-align: center;
}
.people-main {
  display: flex;

}
.list-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}
.people-main .iteam + .iteam {
  margin-left: 30px;
}
.team-desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

.caption-subtitle {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
.caption-text {
  margin-top: 10px;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--primery-text-color);
}
.network-team {
display: flex;
justify-content: center;
align-items: center;
margin-top: 16px;
}
.network-team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
}
.network-team .network-team-list + .network-team-list {
  margin-left: 10px;
}
.network-team-link:hover, .network-team-link:focus {
background: var(--accent-color);
fill: #FFFFFF;
}
                  /* постоянные клиенты */
.customers{
  display: flex;
  justify-content: center;
  align-items: center;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
}
.customers-link:hover, .customers-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.customers .customers-iteam + .customers-iteam {
  margin-left: 30px;
}
                          /* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
    background: var(--footer-color);
}
.logo-ft {
  display: block;
  font-family: "Raleway",
  sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color:var(--accent-color);
  margin-bottom: 20px;
}
.footer-logo {

font-family: "Raleway",sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color);
}
.footer-logo{
    color: var(--second-text-color);
}
 .footer-list .address-item + .address-item {
   margin-top: 9px;
 }

  .footer-address {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--second-text-color);
  }
  .footer-link, .footer-link-mail  { 
font-size: 14px;
font-style: normal;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
  }
  .footer-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .footer-div {
    align-items: baseline;
    display: flex;
  }
  .network-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: #ffffff;
  }
  .network-link:hover, .network-link:focus {
    background-color: var(--accent-color);
  }
    .network-iteam {
      display: flex;
      justify-content: center;
      align-items: center;
    
  
  }
  .network-list .network-iteam + .network-iteam {
    margin-left: 10px;
  }
  .network-list {
    display: flex;

  }
  
  .network-footer {
    margin-left: 70px;
    
    }


                    /* страница портфолио */
    .portfolio-nav {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }
    .portfolio-nav .portfolio-nav-item + .portfolio-nav-item {
      margin-left: 9px;
    }
.portfolio-btn {
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  display: inline-block;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.03em;
color: var(--title-text-color);
cursor: pointer;
   }

   .examples-work {
    margin-top: -30px;
    margin-left: -30px;
     display: flex;
     flex-wrap: wrap;
   }
  .examples-work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  }
  .examples-work-link {
    display: inline-block;
  }
  .examples-work-link:hover, .examples-work-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  }
.portfolio-btn:hover,
.portfolio-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}
   .portfolio-btn:hover, 
   .portfolio-btn:focus, 
   .portfolio-btn:active {
background: var(--accent-color);
font-weight: 500;
font-size: 16px;
color:var(--second-text-color);

   }
   .examples-work-title {
    border: transparent;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
     padding: 20px 24px;
   }
   .portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
   }
   .portfolio-subtitle {
     margin-top: 4px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
   }
 


 
     